{% extends 'base.html.twig' %}

 {% block title %} Symfony React E Commerce Demo {% endblock %}

 {% block body %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="#"> Symfony React E Commerce Demo </a>
     </nav>

     <div id="root"></div>

 {% endblock %}
